*{
    background-color: lightcoral;
}
.header{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    
}
a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}