*{
    background-color: black;
    color: white;
}
.header{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.logo-image{
    display: flex;
    align-items: center;
    border: 10px;
}
.header-image{
    border-radius: 50%;
    margin-left: 0;
}
ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    
}
li{
    font-size: 22px;
}
a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.content{
    display: flex;
    justify-content: space-around;
}
.header-image{
    display: flex;
    width: 120px;
    height: auto;
    border-radius: 30%;
    margin-left: 0px;
    justify-content: flex-start;
}
.content-image{
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    height: auto;
    border-radius: 10px;
}
/*img:hover{
    transform: scaleX(-1);
}*/
button{
    padding: 10px 24px;
    color: white;
    background-color: brown;
    border-radius: 50%;
    border-color: brown;
}
.content{
    display: flex;
}
.content2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    background-color: bisque;
}
.heading1{
    color: brown;
    background-color:bisque ;
    margin: 50px;
}
.cliche-images{
    display: flex;
    gap: 4rem;
    background-color: bisque;
    justify-content: space-evenly;

}
.image1{
    max-width: 400px;
    height: 150px;
    border-radius: 10px;
    margin-left: 20px;
}
.imageA, .imageB, .imageC, .imageD{
    background-color: bisque;
}
.image-text{
    color: black;
    background-color: bisque;
    font-weight: bold;
    text-align: center;
}
.section3{
    background-color: gray;
}
.inspire{
    background-color: gray;
    text-align: center;
}
pre{
    text-align: center;
    background-color: gray;
}